body {
    margin: 0;
    background-color: rgb(198, 198, 198);
    font-family: 'Roboto', sans-serif;
}

.container  img {
    width: 300px;
    background-color: rgb(198, 198, 198);
    margin: 0 18px; 
}

.container nav {
    display: flex;
    justify-content: flex-start;
    margin: 10px 18px;
    background-color: white;
    border-radius: 5px;
}

.container nav a {
    padding: 16px;
    text-decoration: none;
    color:black;
}

main {
    display: flex;   
}

aside {
    flex: 1;
}

main > .block {
    flex: 3;
    margin-left: 0;
}

.block {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 60rem) {
    header {
      text-align: center;
    }
  
    nav {
      padding: 0;
      text-align: left;
    }
  
    nav a {
      color: rgb(16, 158, 201);
      display: block;
      padding: 1rem;
      text-decoration: underline;
    }
  
    nav a:not(:last-child) {
      margin-right: 0;
      border-bottom: 1px solid #eee;
    }
  
    main {
      display: block;
      padding: 1rem 1rem 0 1rem;
    }
  
    main #help {
      display: none;
    }
  
    .block {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
